@import "tailwindcss";
@plugin "@tailwindcss/forms";
@plugin "daisyui" {
    themes: light --default, dark --prefersdark, cupcake;
}
@custom-variant dark (&:where(.dark, .dark *));

#screen {
    background-size: cover; /* Ensures the image covers the entire container */
    background-position: center center; /* Centers the image horizontally and vertically */
    background-repeat: no-repeat;
  }

.mobile-phone {
    margin: auto;
    margin-top: 20px;
    padding: 10px 10px 30px;
    width: 280px;
    height: 600px;
    /* box-shadow: 0 0 20px #e2e2e2;
    border-radius: 30px; */
}

.screen {
    width: 100%;
    height: 100%;
    background: #f2f2f2;
    border-radius: 30px;
    overflow-y: auto;
}

.brove {
    width: 150px;
    height: 20px;
    background: white;
    /* position: absolute;
    margin: 0 100px; */
    border-radius: 0 0 20px 20px;
}

.speaker {
    width: 60px;
    height: 5px;
    background: #d2d2d2;
    display: block;
    margin: auto;
    margin-top: 5px;
    border-radius: 20px;
}
